<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080050545395-op63v6tc58nr4ds0otussv4mdakng939.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080050545395-op63v6tc58nr4ds0otussv4mdakng939</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1080050545395-clpgdm782l7squg1gq02354som92ngg7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhF6Xl5f7lyfsi9VgEAmi0RJuVtM5h8bg</string>
	<key>GCM_SENDER_ID</key>
	<string>1080050545395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasib.loginSignup</string>
	<key>PROJECT_ID</key>
	<string>authenticationapp-5c53b</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationapp-5c53b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080050545395:ios:88d46305ec44b5f2bcfd86</string>
</dict>
</plist>